<hr/>
<h3>Reindex Users</h3> </br>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

<form id="reindex-users-form">

  <div id="reindexing-type">
    <input name="reindexing-type-radio" id="full-reindex-radio" type="radio" name="gender" value="full"> Full </br>
    <input name="reindexing-type-radio" id="one-site-reindex-radio" type="radio" name="gender" value="one" checked="checked"> One Site </br>
    <input name="reindexing-type-radio" id="many-sites-reindex-radio" type="radio" name="gender" value="many"> Many Sites </br>
  </div> 

  <div id="url-params-input-div">
     <label> Force : </label> <input id="force-check-box" checked="checked" type="checkbox" title="If selected, forces a full reindex on every cloudId currently in index. If false, only reindexes new cloud ids as provided by identity" /> </br> </br>
  </div>

  <div id="cloud-id-input-div">
    <label>Cloud ID: </label>
    <input id="cloud-id-value" class="text" type="text"/> <br> <br> 
  </div>
 
  <div id="cloud-id-list-input-div" hidden>
    Cloud ID List: </br> 
    <textarea id="cloud-id-list" rows="25" cols="50"> 
    </textarea> </br> </br>
  </div>

  <div id="index-name">
      Index:
      <input name="index-radio" id="user-index-radio" type="radio" value="user" checked="checked"> User
      <input name="index-radio" id="team-index-radio" type="radio" value="team"> Team </br> </br>
  </div>

  <div id="submit-div" class="buttons-container">
    <div class="buttons">
      <button id="submit-reindex" class="aui-button" type="submit">Reindex</button> <br> <br> 
    </div>
  </div>
  <div id="reindex-http-response"></div>
</form>

<br/>
<hr/>


<h3>Delete Users</h3> </br>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

<form id="delete-users-form">
  <div id="delete-user-input-div">
    <label>User ID: </label>
    <input id="user-id-text" class="text" type="text"/> </br> </br> 
    <button id="submit-" class="aui-button" type="submit">Delete</button>  </br> </br> 
  </div>

  <div id="delete-http-response"></div>
</form>

<br/>
<hr/>

<h3>Delete All Bitbucket Repositories</h3> </br>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

<form id="delete-repo-form">
  <div id="delete-repo-input-div">
    <h4 style="color: crimson">
      Note the following operation can't be undone, and will trigger a spike of 403 responses returned to Bitbucket. This will
      also increase eventing activity as lazy bootstraps happen triggered by the 403 responses to Bitbucket.
    </h4>
    Consult Runbook: <a href="https://hello.atlassian.net/wiki/spaces/XPSRCH/pages/424588117/Runbook+Dropping+all+Bitbucket+Repositories">Runbook dropping all Bitbucket Repositories</a>
    <br>
    <br>
    <button id="delete-repo-btn" class="aui-button" type="submit" style="background-color: red">Delete All Bitbucket Repositories in CPUS</button>  </br> </br>
  </div>

  <div id="delete-repo-response"></div>
</form>

<br/>
<hr/>

<h3>Delete Stale User Permission</h3> </br>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

<form id="delete-stale-child-form">
  <div>
    <h4 style="color: crimson">
      Note the following operation can't be undone, review the deletion criteria to prevent data loss!!
    </h4>
    <br>
    <label>User ID: </label>
    <input id="stale-user-id" class="text" type="text"/> </br></br>
    <button id="delete-stale-user-btn" class="aui-button" type="submit" style="background-color: red">
      Delete <b>User's</b> Stale Children
    </button>
    </br></br>
  </div>

  <div id="delete-stale-user-response"></div>
</form>

<br/>
<hr/>

<h3>Delete *All* Stale Permission</h3> </br>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

<form id="delete-stale-all-child-form">
  <div>
    <h4 style="color: crimson">
      Globally deletes ALL stale permissions for all users in CPUS Index. <br>
      Note the following operation can't be undone, review the deletion criteria to prevent data loss!!
    </h4>
    <br>
    <button id="delete-stale-all-btn" class="aui-button" type="submit" style="background-color: red">
      Delete <b>ALL</b> Stale Children
    </button>
    </br></br>
  </div>

  <div id="delete-stale-all-response"></div>
</form>

<br/>
<hr/>

<script src="public/panel.js"></script>
